/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.experience-list-item {
  display: flex;
  justify-content: space-between;
  margin-right: 0px;
}

.experience-list-item > span {
  font-size: 14px;
  padding: 10px;
}

.book-cover {
  background-image: url("./images/The-Portfolio.png");
  background-repeat: no-repeat;
  background-size: cover;
}
