@media only screen and (max-width: 1440px) {

  .circle-image {
    height: 180px;
    width: 180px;
  }
  .blurb-inner-wrapper {
    font-size: 18px;
  }
  .blurb-reviews-wrapper {
    text-align: center;
    min-height: 36%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 54%;
    overflow: scroll;
    /* display: none; */
  }
  

  .blurb-reviews-wrapper > div {
    padding: 7px;
    margin: 7px;
  }
  .review-context-text {
    font-size: 18px;

    /* max-height: 72px; */
  }
  .review-wrapper.left {
    left: 3vh !important;
  }
  
  .review-wrapper.right {
    right: 3vh !important;
  }
}

@media only screen and (max-width: 600px) {

  .blurb-inner-wrapper p {
    font-size: 3.6vw;
    padding: 7px;
  }

  .book-cover {
    background-size: contain;
    max-height: 72vh;
    max-width: 44vh;
  }
  .inner-book {
    height: 82vh;
    width: 90vw;
  }

  .inner-book  div {
	  max-height: 100%;
  }

  .menu-container {
	right: calc(50vw - 75px);
	top: 7px;
  }
  .circle-image {
    max-height: 216px;
    max-width: 216px;
  }

  .blurb-wrapper {
    max-height: 72vh;
    max-width: 72vw;
  }

  .blurb-review-text, .blurb-review-author {
    font-size: 3.6vw;
  }
    .displayed-image-container.-web {
      background-size: 90% 72%;
      min-height: 180px;
      min-width: 540px;
  }

  .displayed-image-container.-mobile {
    background-size: 36% 90%;
    min-height: 540px;
    min-width: 180px;
  }
  .phone-link, .email-link, .github-link {
	  font-size: 14px;
  }

  .review-wrapper {
    display: none;
  }

  p {
    font-size: 4.4vw;
  }

  .doodle-range-container {
    right: -54px;
  }

  .doodle-board-wrapper > div {
    width: 90%;
  }

  .App {
    max-height: 100vh;
    max-width: 100vw;
  }

  .expanded-image-container.web {
    min-width: 90%;

  }

  .displayed-image-container {
    min-height: 54%;
  }

  .carousel-container {
    height: 90%;
  }
}

@media only screen and (max-width: 540px) {
  .colors-container-wrapper {
    bottom: 72px;
  }
}

@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
  .contents-item {
    font-size: 36px;
  }

  h3 {
    font-size: 54px;
    letter-spacing: 6.2px;
  }

  p,
  .technologies-used-section,
  .tu-container {
    font-size: 4.4vw !important;
  }

  h5 {
    font-size: 36px;
  }

  .text-section-container {
    border-radius: 36px;
    padding: 3px;
  }

  .inner-page-container {
    max-height: 90%;
    overflow: scroll;
  }

  .navigation-button {
    height: 72px;
    width: 36px;
  }

  .carousel-icon {
    height: 36px;
  }

  .colors-container-wrapper {
    bottom: 72px;
    height: 72px;
  }

  .colors-container {
    justify-content: space-around;
    height: 100%;
  }
  .colour-option-dot {
    height: 36px;
    width: 36px;
  }

  .clear-doodle-box {
    height: 36px;
    display: flex;
    align-items: center;
    width: 72px;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
  }
}
